@import url('https://fonts.googleapis.com/css?family=Montserrat');
:root{
	--appColor: #515151;
}
*{
	font-size:20px;
	font-family: 'Montserrat', sans-serif;
	color:#272727;
}
h1{
	text-transform: uppercase;
	font-weight:900;
}
body{
	margin: 0px;
	padding:0px;
}
.input-area-block{
	display:grid;
	grid-template-columns: auto auto auto auto;
	justify-content: center;
	justify-items: center;
	align-content: center;
    grid-gap:10px;
    box-sizing: border-box;
}

.main-button{
	background: #70baff;
	border:1px solid #70baff;
	text-transform: capitalize;
	color:#fff;
	font-weight: 600;
    cursor:pointer;
    box-sizing: border-box;
}
.dark-block-wrapper{
	background:var(--appColor);
	padding-top:50px;
	padding-bottom:20px;
	min-height: 250px;
}
.light-block-wrapper{
	padding-top:50px;
	padding-bottom:20px;
	min-height: 250px;
}
.dark-block-wrapper h1{
	text-align:center;
	padding:10px;
	text-transform: uppercase;
	font-weight:900;
	font-size:1rem;
}
.dark-block-wrapper .container, .header h1, .header p{
	color:#fff;
}
.container{
	margin-left:auto;
	margin-right:auto;
	max-width:1000px;
}
.header-button{
	text-align: center;
	background: #2B3A42;
	border-radius: 15px;
	color:rgb(255, 255, 255);
	display: table;
	margin: 0 auto;
	transition: .5s cubic-bezier(0.075, 0.82, 0.165, 1);
}
.header-button:hover{
	background: rgb(0, 80, 122);
}
.header-button a{
	padding: 15px;
	display: inherit;
	color: #fff;
}
a{
	text-decoration: none;
}
.marker {
	background-image: url('../img/mapbox-icon.png');
	background-size: cover;
	width: 50px;
	height: 50px;
	border-radius: 50%;
	cursor: pointer;
  }
.mapboxgl-ctrl-bottom-right, .mapboxgl-ctrl-bottom-left{
	display:none !important;
}
.mapboxgl-popup {
	max-width: 200px;
}
.mapboxgl-popup-content {
	text-align: center;
	font-family: 'Open Sans', sans-serif;
	font-size:10px;
}
.progress-wrapper{
	width: 100%;
	background-color: #f1f1f1 !important;
	border-radius: 16px;
	flex: 50%;
}
.progress-wrapper .inner-bar{
	color: #fff !important;
	background-color: #2196F3 ;
	padding: 5px 0 5px;
	border-radius: 16px;
	padding: 0.3em 16px;
}
.button-wrapper{
	flex: 50%;
}
.game-wrapper{
	display:flex;
}
.controller-wrapper, .button-wrapper{
	padding:10px;
	padding-top:20px;
	width: 100%;
}
