@import "./secondStyle.css";

ol .single-box{
	border-radius:5px;
	background:#c6e0ff;
	margin-top:5px;
	z-index: 3;
	cursor:pointer;
}
ol .single-box:nth-of-type(2n+0){
	border-radius:5px;
	background:#ebf4ff;
	margin-top:5px;
	z-index: 3;
	cursor:pointer;
}
.erresse-block{
	color:red;
	font-weight:bold;
	cursor:pointer;
	float: right;
	z-index: 5;
	margin-right: -40px;
	margin-top: 7px;
}
.info-block{
	display: inline-block;
	width:auto;
	padding: 10px;
}
.display-area{
	border-right:1px solid #bbb; 
	margin-bottom: 20px;
}
.display-area label{
	font-weight:900;
}
.display-area span{
	float: right;
	padding-right: 21px;
}
.display-area p{
	padding:5px;
	margin: 0;
}
.display-area p:nth-of-type(2n+0){
	background: #e9e9e9;
}
.display-area .info-alert{
	text-align: center;
	text-transform: uppercase;
	font-weight: 900;
}
.footer{
	background: var(--appColor);
	min-height:300px;
}
.container input{
	border-radius:5px;
	padding:5px;
	border:1px solid #bbb;
}
.container input:focus{
	border: 1px solid #feacac;
	box-sizing: border-box;
    -moz-box-sizing: border-box;
    -webkit-box-sizing: border-box;
}
.row{
	display: flex;
}
.column{
	width:50%;
	padding:10px;
}
.column img{
	width:100%;
	height:auto;
}
.selected{
	background: #7d9aff !important;
	color: #fff;
}
.search-form{
	display:flex;
	align-items: center;
}
.search-form svg{
	padding: 8px;
}
.info-block-wrapper li{
	list-style: none;
}
.paginate-wrapper{
	display:flex;
	flex:1 1;
	justify-content: center;
}
.paginate-button {
	min-width: 10px;
	display: inline;
	border: 1px solid #7d9aff;
	text-align: center;
	padding: 10px;
	cursor: pointer;
	border-radius: 5px;
	margin: 2px;
}